@import "../variables.scss";
@import "../mixins.scss";

.in-addition {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #F6F6F6;
}

.in-addition__heading {
    @include reset-heading;
    
    margin-top: 42px;
    margin-bottom: 20px;

    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    color: #545454;
    text-align: center;
}

.in-additon__text {
    display: block;
    margin-bottom: 20px;


    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
    text-align: center;

}

.in-addition__card-number {
    position: relative;
    
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 280px;
    height: 33px;
    box-sizing: border-box;

    font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px; 
    letter-spacing: 0.06em;
    color:#545454;
    text-align: right;
    vertical-align: bottom;

    background-color: #f1cdb3;
    border-radius: 9px;
}

.in-addition__card-number::before {
    position: absolute;
    left: 15px;
    top: 5px;

    content: "";
    width: 30px;
    height: 23px;

    background-image: url("../assets/icons/credit-card.svg");

}

.in-additon__info {
    display: block;
    margin: 0 auto;
    margin-bottom: 42px;
    width: 280px;

    font-family: $add-font;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    text-align: justify;
}

.in-addition__image {
    margin-bottom: 42px;
}

@media (min-width: $tablet-size) {
    .in-addition {
        align-items: center;
    }

    .in-addition__heading {
        margin-top: 80px;

        font-size: 35px;
        line-height: 45px;
        text-align: left;
    }

    .in-additon__text {

        text-align: left;
    }

    .in-addition__card-number {
        margin: 0;
        margin-bottom: 20px;
        width: 350px;
        height: 43px;

        font-size: 20px;
        line-height: 23px; 
        
    }

    .in-additon__info {
        margin: 0;
        margin-bottom: 60px;
        width: 380px;
        
        text-align: left;
    }

    .in-addition__image {
        width: 505px;
        height: 261px;;
        margin-bottom: 100px;
    }
}

@media (min-width: $desktop-size) {
    .in-addition {
        flex-direction: row;
        justify-content: center;
    }

    .in-addition__image {
        margin-right: 30px;
        margin-bottom: 0;
        order: -1;
    }

    .in-additon__info {
        margin-bottom: 100px;
    }
}