@import "../variables.scss";
@import "../mixins.scss";
@import "slider.scss";

.our-friends {
    background-color: #F6F6F6;
}

.our-friends * {
    box-sizing: border-box;
}

.our-friends__wrapper {
    margin: 0 auto;
}

.our-friends__link  {
    margin: 0 auto;
    width: 260px;
    padding: 15px 45px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #292929;
    text-decoration: none;
}